<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top" style="background-color: #212530">
    <a class="sidebar-brand brand-logo" style="color: white" href="/dashboard"><%= settings.name %></a>
  </div>
  <ul class="nav">
    <% if (settings.category.management === true) { %>
        <li class="nav-item nav-category">
          <span class="nav-link text-white"><h4>管理</h4></span>
        </li>
    <% } %>

    <% if (settings.pages['dashboard'] === true) { %>
    <li class="nav-item menu-items">
      <a class="nav-link" href="../dashboard">
        <span class="menu-icon">
          <i class="mdi mdi-speedometer d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">首頁</span>
      </a>
    </li>
    <% } %>
    <% if (settings.pages['your servers'] === true) { %>
    <li class="nav-item menu-items">
      <a class="nav-link" href="../servers">
        <span class="menu-icon">
          <i class="mdi mdi-file-document-box d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">伺服器列表</span>
      </a>
    </li>
    <% } %>
    <% if (settings.pages['account settings'] === true) { %>
      <li class="nav-item menu-items">
      <a class="nav-link" href="../settings">
        <span class="menu-icon">
          <i class="mdi mdi-settings d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">帳號設定</span>
      </a>
    </li>
    <% } %>

    <% if (settings.category['coins & resources'] === true) { %>
        <li class="nav-item nav-category">
          <span class="nav-link text-white"><h4>金幣和資源管理</h4></span>
        </li>
    <% } %>

    <% if (settings.api.client.coins.store.enabled === true) { %>
    <li class="nav-item menu-items">
      <a class="nav-link" href="../store">
        <span class="menu-icon">
          <i class="mdi mdi-store d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">資源商店</span>
      </a>
    </li>
    <% } %>
    <% if (settings.pages['redeem coupon'] === true) { %>
    <li class="nav-item menu-items">
      <a class="nav-link" href="../redeem">
        <span class="menu-icon">
          <i class="mdi mdi-ticket-percent d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">優惠卷兌換</span>
      </a>
    </li>
    <% } %>
    <% if (settings.stripe.enabled == true) { %>
      <li class="nav-item menu-items">
        <a class="nav-link" href="../buy">
          <span class="menu-icon">
            <i class="mdi mdi-cart-outline d-flex justify-content-center align-items-center"></i>
          </span>
          <span class="menu-title">購買資源</span>
        </a>
      </li>
      <% } %>
      <% if (settings.api.client.j4r.enabled === true) { %>
      <li class="nav-item menu-items">
        <a class="nav-link" href="../j4r">
          <span class="menu-icon">
            <i class="mdi mdi-gift-outline d-flex justify-content-center align-items-center"></i>
          </span>
          <span class="menu-title">Join for Rewards</span>
        </a>
      </li>
      <% } %>
    <% if (settings.api["afk page"].enabled === true) { %>
    <li class="nav-item menu-items">
      <a class="nav-link" href="../afk">
        <span class="menu-icon">
          <i class="mdi mdi-coin d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">AFK Page</span>
      </a>
    </li>
    <% } %>
    <% if (settings.pages['linkvertise'] === true) { %>
    <li class="nav-item menu-items">
      <a class="nav-link" href="../lv">
        <span class="menu-icon">
          <i class="mdi mdi-link-variant d-flex justify-content-center align-items-center"></i>
        </span>
        <span class="menu-title">Linkvertise</span>
      </a>
    </li>
    <% } %>
        <% if (settings.category['miscellaneous'] === true) { %>
        <li class="nav-item nav-category">
          <span class="nav-link text-white"><h4>其他</h4></span>
        </li>
        <% } %>

        <% if (pterodactyl.root_admin == true) { %>
          <li class="nav-item menu-items">
          <a class="nav-link" href="../admin">
            <span class="menu-icon">
              <i class="mdi mdi-account d-flex justify-content-center align-items-center"></i>
            </span>
            <span class="menu-title">管理員</span>
            </a>
          </li>
        <% } %>

      <% if (settings.pages['panel'] === true) { %>
      <li class="nav-item menu-items">
        <a class="nav-link" href="<%= settings.pterodactyl.domain%>" target="_blank">
          <span class="menu-icon">
            <i class="mdi mdi-view-list d-flex justify-content-center align-items-center"></i>
          </span>
          <span class="menu-title">託管面板</span>
        </a>
      </li>
      <% } %>

    </ul>
  </nav>
